<mat-sidenav-container class="conteneur-global">
  <mat-sidenav mode="side" opened class="sidebar">
    
    <!-- Logo -->
    <div class="logo" routerLink="/">
      <mat-icon>psychology</mat-icon>
      <span>PsychoHelp</span>
    </div>
    <mat-divider></mat-divider>

    <!-- Navigation selon rôle -->
    <mat-nav-list>
      @if (auth.currentUser$ | async; as utilisateur) {
        
        <!-- Accueil commun -->
        <a mat-list-item routerLink="/accueil" routerLinkActive="actif">
          <mat-icon>home</mat-icon> Dashboard
        </a>

        <!-- Citoyen -->
        @if (utilisateur.role === 'CITOYEN') {
          <a mat-list-item routerLink="/psychologues" routerLinkActive="actif">
            <mat-icon>people</mat-icon> Psychologues
          </a>
          <!-- TODO : Mes rendez-vous -->
          <!-- TODO : Test auto-évaluation -->
        }

        <!-- Psychologue -->
        @if (utilisateur.role === 'PSYCHOLOGUE') {
          <a mat-list-item routerLink="/psy/conseils" routerLinkActive="actif">
            <mat-icon>article</mat-icon> Mes conseils
          </a>
          <a mat-list-item routerLink="/psy/creneaux" routerLinkActive="actif">
            <mat-icon>schedule</mat-icon> Mes créneaux
          </a>
          <!-- TODO : Dashboard -->
        }

        <!-- Admin -->
        @if (utilisateur.role === 'ADMIN') {
          <a mat-list-item routerLink="/admin/psychologues" routerLinkActive="actif">
            <mat-icon>verified_user</mat-icon> Valider psychologues
          </a>
          <a mat-list-item routerLink="/admin/conseils" routerLinkActive="actif">
            <mat-icon>rate_review</mat-icon> Valider conseils
          </a>
          <!-- TODO : Dashboard stats -->
        }

      }
    </mat-nav-list>

    <span class="spacer"></span>

    <!-- Profil utilisateur en bas -->
    @if (auth.currentUser$ | async; as utilisateur) {
      <mat-divider></mat-divider>
      <div class="profil-bas">
        <div class="avatar">{{ utilisateur.prenom[0] }}{{ utilisateur.nom[0] }}</div>
        <div class="infos">
          <span class="nom">{{ utilisateur.prenom }} {{ utilisateur.nom }}</span>
          <span class="role">{{ utilisateur.role }}</span>
        </div>
        <button mat-icon-button (click)="deconnexion()" title="Déconnexion">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    }

  </mat-sidenav>

  <!-- Zone de contenu -->
  <mat-sidenav-content class="contenu">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>