<h1>prendre un rdv</h1>
<form [formGroup]="form2">
<div class="rdv">
@if (creneauDisponiblePourcitoyen.length>0) {
        @for (creneau of creneauDisponiblePourcitoyen; track $index) {

                <div class="card">
                        <p>Jours : {{creneau.jours}}</p>
                        <p>Date : {{creneau.date}}</p>
                        <p>
                                Heure : {{creneau.heureDebut}} - {{creneau.heureFin}}
                        </p>
                        <button type="button"(click)="onSubmit2(creneau)">
                            Prendre ce rendez-vous
                        </button>
            </div>
        }
}@else{
                <div style="color: green;">Aucun creneau disponible pour le moment</div>
    }
</div>
</form>