.jours-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 0;
}


.jour-button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #6c4634;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}


.jour-button:hover {
    background: #553526;
    transform: translateY(-2px);
}


.jour-button:active {
    transform: scale(0.96);
}


@media (max-width: 650px) {

    .jours-container {
        justify-content: center;
    }

    .jour-button {
        width: 90px;
        height: 45px;
    }

}