<div class="page">
  
  <!-- CÔTÉ GAUCHE : FORMULAIRE -->
  <div class="cote-gauche">
    
    <div class="entete">
      <h2>Inscription</h2>
       <div class="illustration3">
      <img src="iconInscription.png" alt="Illustration">
    </div>
      <p>Un soutien fiable, en quelques clics</p>
    </div>

    <form class="mon-formulaire" [formGroup]="formulaire" (ngSubmit)="inscrire()">

      <!-- Email -->
      <div class="champ-groupe">
        <input type="email" placeholder="Adresse email" class="input-arrondi" formControlName="mail">
        <mat-icon class="icone-champ">email</mat-icon>
      </div>
        <small *ngIf="mail?.touched && mail?.errors?.['required']">
            L'adresse email est obligatoire.
        </small>

        <small *ngIf="mail?.touched && mail?.errors?.['email']">
            Veuillez respecter le format email : kadidiatou.odk26@gmail.com
        </small>

      <!-- Mot de passe -->
      <div class="champ-groupe">
        <input [type]="cacheMotDePasse ? 'password' : 'text'" placeholder="Mot de passe" class="input-arrondi"  formControlName="motDePasse">
        <mat-icon class="icone-champ cliquable" (click)="cacheMotDePasse = !cacheMotDePasse">
          {{ cacheMotDePasse ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </div>
        <small *ngIf="motDePasse?.touched && motDePasse?.errors?.['required']">
            Le mot de passe est obligatoire.
        </small>
        <small *ngIf="motDePasse?.touched && motDePasse?.errors?.['minlength']">
            Le mot de passe doit contenir au moins 8 caractères.
        </small>

      <!-- Prénom et Nom côte à côte -->
        <div class="ligne-double">
            <div>
                <div class="champ-groupe">
                    <input type="text"
                           placeholder="Prénom"
                            class="input-arrondi"
                            formControlName="prenom">
                    <mat-icon class="icone-champ">person</mat-icon>
                </div>
                <small *ngIf="prenom?.touched && prenom?.errors?.['required']">
                    Le prénom est un champ obligatoire. Veuillez le renseigner.
                </small>
                <small *ngIf="prenom?.touched && prenom?.errors?.['pattern']">
                    Le prénom ne doit contenir que des lettres.
                </small>
                <small *ngIf="prenom?.touched && prenom?.errors?.['minlength']">
                    Minimum 2 caractères.
                </small>
                <small *ngIf="prenom?.touched && prenom?.errors?.['maxlength']">
                    Maximum 50 caractères.
                </small>
            </div>

            <div>
                <div class="champ-groupe">
                    <input type="text"
                            placeholder="Nom"
                            class="input-arrondi"
                            formControlName="nom">
                    <mat-icon class="icone-champ">person</mat-icon>
                </div>
                <small *ngIf="nom?.touched && nom?.errors?.['required']">
                    Le nom est un champ obligatoire. Veuillez le renseigner.
                </small>
                <small *ngIf="nom?.touched && nom?.errors?.['pattern']">
                    Le nom ne doit contenir que des lettres.
                </small>
                <small *ngIf="nom?.touched && nom?.errors?.['minlength']">
                    Minimum 2 caractères.
                </small>
                <small *ngIf="nom?.touched && nom?.errors?.['maxlength']">
                    Maximum 50 caractères.
                </small>
            </div>

        </div>

      <!-- Téléphone avec drapeau -->
      <div class="champ-groupe champ-telephone">
        <img src="logoDrapeauMali.png" alt="Mali" class="drapeau-icon">
        <input type="tel" placeholder="Telephone" class="input-arrondi avec-drapeau"  formControlName="telephone">
        <mat-icon class="icone-champ">phone</mat-icon>
      </div>
        <small *ngIf="telephone?.touched && telephone?.errors?.['required']">
            Le numéro de téléphone est obligatoire.
        </small>
        <small *ngIf="telephone?.touched && telephone?.errors?.['pattern']">
            Le numéro de téléphone doit contenir exactement 8 chiffres.
        </small>

      <div class="message-erreur" *ngIf="messageErreur">
        {{ messageErreur }}
      </div>
      <!-- Bouton -->
      <button mat-raised-button class="bouton-valider" type="submit">
        S'inscrire
      </button>

    </form>
  </div>

  <!-- CÔTÉ DROIT : IMAGE ET TEXTE -->
  <div class="cote-droit">
      <div class="entete-droit">

    <div class="illustration">
      <img src="logoPsychoHelp.png" alt="Illustration">
    </div>
     <button mat-icon-button class="btn-retour" (click)="retour() ">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
        </div>

    <div class="illustration2">
      <img src="iconInscriptionCitoyen.png" alt="Illustration">
    </div>

    <h2>La psychologie de demain, aujourd´hui.</h2>
  </div>

</div>