<header class="navbar">
    <div class="title-zone">
        <h1>{{ titre }}</h1>
        <div class="breadcrumb">
            <span class="home">Accueil</span>
            <span class="separator"> › </span>
            <span>{{ titre }}</span>
        </div>
    </div>
    <button
            type="button"
            class="notification-button"
            aria-label="Notifications">
        <mat-icon>notifications_none</mat-icon>
        @if (nombreNotificationsNonLues$ | async; as nb) {
            @if (nb > 0) {
                <span class="notification-dot">{{ nb > 99 ? '99+' : nb }}</span>
            }
        }
    </button>

</header>