<div class="page">

  <!-- CÔTÉ GAUCHE : FORMULAIRE -->
  <div class="cote-gauche">

    <div class="entete">
      <h2>Inscription</h2>
      <div class="illustration3">
        <img src="iconInscription.png" alt="Illustration">
      </div>
      <p>Développez votre pratique en quelques clics</p>
    </div>

    <form class="mon-formulaire" [formGroup]="formulaire" (ngSubmit)="inscrire()">

      <!-- Email -->
      <div class="champ-groupe">
        <input type="email" placeholder="Adresse email" class="input-arrondi" formControlName="mail">
        <mat-icon class="icone-champ">email</mat-icon>
      </div>
        <small style="color:#d32f2f;font-size:12px"
               *ngIf="mail?.touched && mail?.errors?.['required']">
            L'adresse email est obligatoire.
        </small>

        <small style="color:#d32f2f;font-size:12px"
               *ngIf="mail?.touched && mail?.errors?.['email']">
            Veuillez saisir une adresse email valide.
        </small>

      <!-- Mot de passe -->

      <div class="champ-groupe">
        <input [type]="cacheMotDePasse ? 'password' : 'text'" placeholder="Mot de passe" class="input-arrondi"
          formControlName="motDePasse">
        <mat-icon class="icone-champ cliquable" (click)="cacheMotDePasse = !cacheMotDePasse">
          {{ cacheMotDePasse ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </div>
        <small style="color:#d32f2f;font-size:12px"
               *ngIf="motDePasse?.touched && motDePasse?.errors?.['required']">
            Le mot de passe est obligatoire.
        </small>

        <small style="color:#d32f2f;font-size:12px"
               *ngIf="motDePasse?.touched && motDePasse?.errors?.['minlength']">
            Le mot de passe doit contenir au moins 8 caractères.
        </small>

      <!-- Prénom et Nom côte à côte -->
        <div class="ligne-double">
            <!-- Prénom -->
            <div>
                <div class="champ-groupe">
                    <input
                            type="text"
                            placeholder="Prénom"
                            class="input-arrondi"
                            formControlName="prenom">

                    <mat-icon class="icone-champ">person</mat-icon>
                </div>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="prenom?.touched && prenom?.errors?.['required']">
                    Le prénom est obligatoire.
                </small>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="prenom?.touched && prenom?.errors?.['pattern']">
                    Le prénom ne doit contenir que des lettres.
                </small>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="prenom?.touched && prenom?.errors?.['minlength']">
                    Minimum 2 caractères.
                </small>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="prenom?.touched && prenom?.errors?.['maxlength']">
                    Maximum 50 caractères.
                </small>

            </div>

            <!-- Nom -->
            <div>

                <div class="champ-groupe">
                    <input
                            type="text"
                            placeholder="Nom"
                            class="input-arrondi"
                            formControlName="nom">

                    <mat-icon class="icone-champ">person</mat-icon>
                </div>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="nom?.touched && nom?.errors?.['required']">
                    Le nom est obligatoire.
                </small>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="nom?.touched && nom?.errors?.['pattern']">
                    Le nom ne doit contenir que des lettres.
                </small>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="nom?.touched && nom?.errors?.['minlength']">
                    Minimum 2 caractères.
                </small>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="nom?.touched && nom?.errors?.['maxlength']">
                    Maximum 50 caractères.
                </small>

            </div>

        </div>





      <!-- Téléphone avec drapeau -->

      <div class="champ-groupe champ-telephone">
        <img src="logoDrapeauMali.png" alt="Mali" class="drapeau-icon">
        <input type="tel" placeholder="Telephone" class="input-arrondi avec-drapeau" formControlName="telephone">
        <mat-icon class="icone-champ">phone</mat-icon>
      </div>
        <small style="color:#d32f2f;font-size:12px"
               *ngIf="telephone?.touched && telephone?.errors?.['required']">
            Le numéro de téléphone est obligatoire.
        </small>

        <small *ngIf="telephone?.touched && telephone?.errors?.['pattern']">
            Le numéro de téléphone doit contenir exactement 8 chiffres.
        </small>



      <!-- CV et Diplôme côte à côte -->
        <div class="ligne-double">
            <!-- CV -->
            <div>
                <div class="champ-groupe" (click)="cvInput.click()">

                    <input
                        #cvInput
                        type="file"
                        style="display:none"
                        accept=".pdf"
                        (change)="onCvSelected($event)">
                    <input
                            type="text"
                            readonly
                            placeholder="Téléverser votre CV"
                            [value]="cvFileName"
                            class="input-arrondi custom-file-input">

                    <mat-icon class="icone-champ">
                        article
                    </mat-icon>

                </div>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="cvManquant">
                    Le CV est obligatoire.
                </small>

            </div>

            <!-- Diplôme -->
            <div>

                <div class="champ-groupe" (click)="diplomeInput.click()">

                    <input
                        #diplomeInput
                        type="file"
                        style="display:none"
                        accept=".pdf,.jpg,.jpeg,.png"
                        (change)="onDiplomeSelected($event)">

                    <input
                            type="text"
                            readonly
                            placeholder="Téléverser votre diplôme"
                            [value]="diplomeFileName"
                            class="input-arrondi custom-file-input">

                    <mat-icon class="icone-champ">
                        workspace_premium
                    </mat-icon>

                </div>

                <small style="color:#d32f2f;font-size:12px"
                       *ngIf="diplomeManquant">
                    Le diplôme est obligatoire.
                </small>

            </div>

        </div>


      <div class="champ-groupe">
        <select formControlName="idSpecialite" class="input-arrondi">
          <option value="" disabled selected>
            Choisir une spécialité
          </option>

          <option *ngFor="let specialite of specialites" [value]="specialite.id">
            {{ specialite.nom }}
          </option>
        </select>
        <mat-icon class="icone-champ">
          psychology
        </mat-icon>
      </div>
        <small style="color:#d32f2f;font-size:12px"
               *ngIf="idSpecialite?.touched && idSpecialite?.errors?.['required']">
            Veuillez choisir une spécialité.
        </small>



      <!-- Description -->
      <div class="champ-groupe">
        <textarea
                placeholder="Description"
                class="input-arrondi description-textarea"
                formControlName="description"
                rows="5"
                maxlength="500">
         </textarea>
        <mat-icon class="icone-champ">description</mat-icon>
      </div>
        <small style="color:#d32f2f;font-size:12px"
               *ngIf="description?.touched && description?.errors?.['maxlength']">
            La description ne doit pas dépasser 500 caractères.
        </small>


      <div class="message-erreur" *ngIf="messageErreur">
        {{ messageErreur }}
      </div>
      <!-- Bouton -->
      <button mat-raised-button class="bouton-valider" type="submit">
        S'inscrire
      </button>

    </form>
  </div>

  <!-- CÔTÉ DROIT : IMAGE ET TEXTE -->
  <div class="cote-droit">
    <div class="entete-droit">

      <div class="illustration">
        <img src="logoPsychoHelp.png" alt="Illustration">
      </div>

      <button mat-icon-button class="btn-retour" (click)="retour() ">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
    </div>


    <div class="illustration2">
      <img src="iconInscriptionPsy.png" alt="Illustration">
    </div>

    <h2>Avec PsychoHelp, simplifiez et développez votre pratique.</h2>
  </div>

</div>