
.page-container {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle, #D7A790 32%, #DBC3B9 55%);
  padding: 20px;
  box-sizing: border-box;
   display: flex;
  justify-content: center; 
  align-items: center;
}




.detail-card {
  width: 500px;
  margin: 50px auto;
  padding: 25px;

  background-color: white;
  border-radius: 10px;

  box-shadow: 0 3px 10px gray;

  display: flex;
  flex-direction: column;
  
}

.detail-card h2 {
   color: #D7A790;
  text-align: center;
  margin-bottom: 20px;
}


.detail-card p {
   color: #2C3E50;
  font-size: 16px;
  line-height: 1.5;
}

.detail-card strong {
   color: #2C3E50;
}
