.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid ;
  border-radius: 10px;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.search-icon {
  font-size: 28px;
  color: #000;
  margin-right: 12px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: Arial, sans-serif;
  color: #333;
  background: transparent;
}

.search-box input::placeholder {
  color: #b8b8b8;
}