.btn-filter {
    background-color: white;
    width: 10vw;
    padding: .5vh 1vw;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-filter:hover,
.btn-filter.active {
    background-color: var(--secondary);
    color: white;

    transform: none;
}
.btn-filter:active {
    transform: scale(0.95);
}
#btn-tous {
    width: 12vw;
}
#conteneur{
    padding: 2vh 5vw;
    background:var(--background);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
.list-card{
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.list-card::-webkit-scrollbar{
    display: none;
}