:host {
    display: contents;
}

tr {
    transition: .2s ease;
}

tr:hover {
    background: #f7f2ef;
}

td {
    padding: 14px 15px;
    border-bottom: 1px solid #eee;
    color: #444;
}


.status {
    padding: 5px 10px;
    border-radius: 15px;
    background: #e8f5e9;
    font-size: 12px;
}


.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


/* Voir */
.actions button:nth-child(1) {
    border-radius: 5px ;
    border-color: white;
    background-color: white;
}

.actions button:nth-child(1) mat-icon {
    color: #1976d2;
}


/* Modifier */
.actions button:nth-child(2) {
     border-radius: 5px;
    border-color: white;
        background-color: white;

}

.actions button:nth-child(2) mat-icon {
    color: #f57c00;
}


/* Supprimer */
.actions button:nth-child(3) {
    border-radius: 5px;
    border-color: white;
    background-color: white;
    }

.actions button:nth-child(3) mat-icon {
    color: #f77886;
}


/* Effet hover */
.actions button {
    transition: .2s ease;
}

.actions button:hover {
    transform: scale(1.12);
}                                 

.status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  min-width: 100px;
}

/* En attente */
.en-attente {
  color: #856404;
  background-color: #fff3cd;
}

/* Validé */
.valider {
  color: #155724;
  background-color: #d4edda;
}

/* Refusé */
.refuser {
  color: #721c24;
  background-color: #f8d7da;
}