/* You can add global styles to this file, and also import other style files */

:root{
    --primary:#2C3E50;
    --secondary:#5D3520;
    --marron: #8b5a3c;
    --beige:#D7A790;
    --beige-dark: #e8b8a2fb;
    --background:#f8f6f4;
    --white:#ffffff;
    --black: #000;
    --clair: #f5eae4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Roboto, sans-serif, Arial, Helvetica;
  background: #f5f7fa;
}

/* Succès (Vert) */
.snackbar-success {
  --mat-sys-inverse-surface: #2e7d32;       /* Fond vert */
  --mat-sys-inverse-on-surface: #ffffff;   /* Texte blanc */
  --mat-sys-inverse-primary: #ffffff;      /* Bouton "Fermer" */
}

/* Erreur (Rouge) */
.snackbar-error {
  --mat-sys-inverse-surface: #d32f2f;
  --mat-sys-inverse-on-surface: #ffffff;
  --mat-sys-inverse-primary: #ffffff;
}

/* Info (Bleu) */
.snackbar-info {
  --mat-sys-inverse-surface: #0288d1;  
  --mat-sys-inverse-on-surface: #ffffff;
  --mat-sys-inverse-primary: #ffffff;
}
