<main>
  <div class="titre">
      <h2 class="page-title fw-bold">
        Conseils
      </h2>
      <p class="breadcrumb-text">
        Blog de conseils
      </p>
  </div>

  <input class="inputRecherche" matInput [(ngModel)]="rechercherText" placeholder="Rechercher un conseil..." />

  <div class="cards-container">

    @if (filtrageConseil.length > 0) {

    @for (element of filtrageConseil; track element.id ) {

    <div class="card">

      <h3>{{ element.titre }}</h3>

      <p><strong>Auteur :</strong> {{ element.auteur ? element.auteur : element.psyNom }}</p>

      <p><strong>Date :</strong> {{ element.datePublication | date: 'EEEE, d MMMM yyyy' : '' : 'fr-FR' }}</p>

      <p>{{ element.description | slice:0:50 }}...</p>

      <button (click)="show(element)">
        Voir plus
      </button>

    </div>

    }

    } @else {

    <h1>Aucun conseil trouvé</h1>

    }

  </div>
</main>