main {
  background-color: var(--clair);
  padding: 1.5rem 0.75rem;
}

.titre {
  margin-bottom: 1.5rem;
}

.page-title {
  color: var(--primary);
  font-weight: 600;
}

.breadcrumb-text {
  color: var(--secondary);
}

.inputRecherche {
  width: 100%;
  padding: 10px;
  margin: 10px auto;

  border: 2px solid #D7A790;
  border-radius: 10px;

  font-size: 16px;
  color: #2C3E50;

  background-color: white;
}

/* quand on clic dans l'input il change sa couleur et supprime  le contour de la bordure bordure*/

.inputRecherche:focus {
  border-color: #c98f73;
  outline: none;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 30px 0;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 20rem;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.card h3 {
  color: #D7A790;
  margin-bottom: 12px;
  font-size: 1.25rem;
}

.card p {
  margin: 6px 0;
  color: #2C3E50;
  line-height: 1.5;
  /* Améliore la lisibilité du texte */
}

.card button {
  margin-top: 20px;
  padding: 12px;
  background: #D7A790;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  /* Transition fluide pour le hover */
  transition: background-color 0.2s ease;
}

.card button:hover {
  background: #c2927c;
}