body{
      background: radial-gradient( circle, #D7A790 32%, #DBC3B9 55%);

}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* une carte */
.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px gray;

  display: flex;
  flex-direction: column;
}

/* titre */
.card h3 {
   color: #D7A790;
  margin-bottom: 10px;
}

/* texte */
.card p {
  margin: 5px 0;
   color: #2C3E50;
}

/* bouton */
.card button {
  margin-top: 15px;
  padding: 10px;
    background: #dca98e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background:#c98f73;
    cursor:pointer;
}
