.custom-card-style {
    background-color: #ffffff;
    border-radius: 8px;
}

.icon-box {
    background-color: #7f56da; /* Couleur violette de l'icône de votre capture */
    width: 42px;
    height: 42px;
    border-radius: 6px;
}

.dot-indicator {
    width: 8px;
    height: 8px;
    background-color: #ffc107; /* Point jaune/orange de votre capture */
    border-radius: 50%;
    display: inline-block;
}

.link-view i {
    font-size: 1.2rem;
    color: #d1b9b9;
    transition: color 0.2s;
}

.link-view:hover i {
    color: #7f56da;
}
