<div class="card shadow-sm border-0 mb-3 custom-card-style">
    <div class="card-body d-flex align-items-center justify-content-between p-3">

        <div class="d-flex align-items-center">

            <div class="icon-box me-3 text-white d-flex align-items-center justify-content-center">
                <i class="bi bi-calendar-event"></i>
            </div>


            <div>
                <h6 class="mb-1 text-dark fw-bold">Nouveau conseil en  en attente de validation </h6>
                <p class="mb-0 text-muted small">
                    <span class="fw-semibold text-secondary">{{ donnees.auteur }}</span> a posté un nouveau conseil
                    à 13h54
                </p>
            </div>
        </div>

        <!-- Partie Droite : Heure, Badge et Action -->
        <div class="d-flex align-items-center">
            <span class="fw-bold me-2 text-dark small"> {{donnees.datePublication}} </span>
            <span class="dot-indicator me-4"></span>
            <button class="btn btn-link p-0 text-muted link-view">
                <i class="bi bi-eye"></i>
            </button>
        </div>

    </div>
</div>

